*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    /* background-color:  yellow; */
    background-color:  hsl(30, 54%, 90%);
    Font-size: 15px;
    align-items: center;
    align-content: center;
}
.box{
    background-color: white;
    width: 50vw;
}
img{
    height: auto;
    width: autos;;
}